{% extends 'base.html' %}
{% block head %} 
  <title>Friends - Change Password</title>
{% endblock %} 
{% block content %} 
  <div class="row mt-5">
    <div class="col-md-6 mx-auto bg-light border p-5 position-relative">
      <a class="position-absolute top-0 start-0 m-2 p-2" href="/wall/settings">&larr; Back</a>
      <h3 align="center">Change Password</h3>
      <form class="d-grid gap-4" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.password1.label() }}
          {% if form.password1.errors %}
            {{ form.password1(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.password1.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.password1(class="form-control", placeholder="Enter current password") }}
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.password2.label() }}
          {% if form.password2.errors %}
            <div class="invalid-feedback">
              {{ form.password2(class="form-control is-invalid") }}
              {% for error in form.password2.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.password2(class="form-control", placeholder="Enter new password") }}
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.password3.label() }}
          {% if form.password3.errors %}
            {{ form.password3(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in password3.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.password3(class="form-control", placeholder="Confirm new password") }}
          {% endif %}
        </div>
        {{ form.submit(class="btn btn-primary mt-3") }}
      </form>
    </div>
  </div>
{% endblock %}