{% extends 'base.html' %}
{% block head %} 
   <title>Friends - Chatroom</title>
   <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
   <script type="text/javascript">
      var socket
      $(document).ready(function() {   
         socket = io.connect('http://localhost:5000/chatroom')

         socket.on('connect', function() {
            socket.emit('message', {'msg': 'User has connected'})
         })

         socket.on('message', function(data) {
            $('#messages').append('<li>'+data.msg+'</li>')
         })

         $('#message-send').on('click', function() {
            socket.emit('message', {msg: $('#message-input').val()})
            $('#message-input').val('')
         })
      })
   </script>
{% endblock %} 
{% block content %} 
   <style>
      ul {margin:0; padding:0;}
      li {list-style-type:none;}
   </style>
   <div class="row mt-5">
      <div class="col-md-6 mx-auto bg-light border p-5 position-relative">
         <ul class="my-2" id="messages"></ul>
         <div class="d-flex gap-0">
            <input class="form-control" type="text" id="message-input">
            <button id="message-send" class="btn btn-primary" type="button">Send</button>
         </div>
      </div>
   </div>
{% endblock %}