{% extends 'base.html' %}
{% block head %} 
  <title>Friends - Edit Post</title>
{% endblock %} 
{% block content %} 
  <div class="row mt-5">
    <div class="col-md-10 mx-auto bg-light border p-5 position-relative">
      <a class="position-absolute top-0 start-0 m-2 p-2" href="/wall/{{current_user.wall.id}}">&larr; Back</a>
      <h3 align="center" class="mb-5">Edit Post</h3>
      <form class="d-grid gap-4" method="POST">
        {{ form.hidden_tag() }}
        {% if form.content.errors %}
          {{ form.content(class="form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in post.content.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.content(class="form-control", style="resize:none;", cols="10", rows="10", id="content-input") }}
        {% endif %}
        {{ form.submit(class="btn btn-primary mt-3", value="Save Changes") }}
      </form>
    </div>
  </div>

  <script>
    document.getElementById("content-input").value = {{ post.content | tojson }}
  </script>
{% endblock %}