{% extends 'base.html' %} 
{% block head %} 
  <title>Friends - Login</title>
{% endblock %}
{% block content %} 
  <div class="row mt-5">
    <div class="col-md-6 mx-auto mt-5 p-5 bg-light border">
      <h3 align="center">Login</h3>
      <form class="d-grid gap-2" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.email.label() }}
          {% if form.email.errors %} 
            {{ form.email(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %} 
            {{ form.email(class="form-control", placeholder="Enter email") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.password.label() }}
          {% if form.password.errors %}
            {{ form.password(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.password.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.password(class="form-control", placeholder="Enter password") }}
          {% endif %}
        </div>
        {{ form.submit(class="btn btn-primary mt-3") }}
        <div>
          <small class="text-muted">Need An Account?
            <a href="{{ url_for('auth.register') }}">Create One Here</a>
          </small>
        </div>
      </form>
    </div>
  </div>
{% endblock %}