{% extends 'base.html' %} 
{% block head %} 
  <title>Friends - Forgot Password</title>
{% endblock %} 
{% block content %} 
  <div class="row mt-5">
    <div class="col-md-6 mx-auto bg-lighgt border p-5 position-relative">
      <a class="position-absolute top-0 start-0 m-2 p-2" href="{{ url_for('users.login') }}">&larr; Back</a>
      <h3 align="center" class="mb-3">Request Password Reset</h3>
      <form class="d-grid gap-3" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.email.label() }}
          {% if form.email.errors %}
            {{ form.email(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %} 
            {{ form.email(class="form-control", placeholder="Enter email for password reset") }}
          {% endif %}
        </div>
        {{ form.submit(class="btn btn-primary mt-3", value="Send Email") }}
      </form>
    </div>
  </div>
{% endblock %}