{% extends 'base.html' %} 
{% block head %} 
  <title>Friends - Wall Settings</title>
{% endblock %} 
{% block content %} 
  <div class="row mt-5">
    <div class="col-md-6 mx-auto bg-light border p-5 position-relative">
      <a class="position-absolute top-0 start-0 m-2 p-2" href="/wall/{{current_user.wall.id}}">&larr; Back</a>
      <h3 align="center">Settings</h3>
      <form class="d-grid gap-4" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.pic_upload.label() }}
          {% if form.pic_upload.errors %} 
            {{ form.pic_upload(class="form-control is-invalid", accept="image/*") }}
            <div class="invalid-feedback">
              {% for error in form.pic_upload.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.pic_upload(class="form-control", accept="image/*") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.screen_name.label() }}
          {% if form.screen_name.errors %} 
            {{ form.screen_name(class="form-control is-invalid", value=current_user.screen_name) }}
            <div class="invalid-feedback">
              {% for error in form.screen_name.errors %} 
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.screen_name(class="form-control", value=current_user.screen_name) }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.email.label() }}
          {% if form.email.errors %} 
            {{ form.email(class="form-control is-invalid", value=current_user.email) }}
            <div class="invalid-feedback">
              {% for error in form.email.errors %} 
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.email(class="form-control", value=current_user.email) }}
          {% endif %}
        </div>
        <button class="btn btn-secondary" type="button" onclick=window.location.href='/wall/settings/password'>Change Password</button>
        {{ form.submit(class="btn btn-primary mt-3") }}
      </form>
    </div>
  </div>
{% endblock %}