{% extends 'base.html' %} 
{% block head %} 
  <title>Friends - Profile Settings</title>
{% endblock %} 
{% block content %} 
  <h3 align="center" class="mt-5">Settings</h3>
  <form method="POST" enctype="multipart/form-data">
    <div class="form-group mb-3">
      <label for="pic">Change Pic</label>
      <input class="form-control" type="file" name="pic" id="pic" accept="image/*">
    </div>
    <div class="form-group mb-3">
      <label for="screen-name">Screen Name</label>
      <input class="form-control" type="text" name="screen-name" id="screen-name" placeholder="Enter screen name">
    </div>
    <div class="form-group mb-3">
      <label for="email">Email</label>
      <input class="form-control" type="email" name="email" id="email" placeholder="Enter email">
    </div>
    <input class="btn btn-primary" type="submit" value="Save Changes">
  </form>
{% endblock %}