{% extends 'base.html' %} 
{% block head %} 
  <title>MySpace - Login</title>
{% endblock %} 
{% block content %}
  <div class="main-div">
    <form class="user-form" action="/login" method="POST">
      <div><div>Email:</div><input type="email" name="email"></div>
      <div><div>Password:</div><input type="password" name="password"></div>
      <input type="submit">
      <div style="text-align: center;"><small>Need an account? <a href="/register">Register here</a></small></div>
    </form>
  </div>
{% endblock %}