{% extends 'base.html' %} 
{% block head %} 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <title>Friends - Profile</title>
{% endblock %} 
{% block content %} 
  {% if is_wall_of_current_user %}
    <span>
      <h3 class="mt-5 mb-3" align="center">{{user.screen_name}}'s Profile</h3>
      <a href="">Settings</a>
    </span>
  {% else %}
    <span>
      <h3 class="mt-5 mb-3" align="center">{{user.screen_name}}'s Profile</h3>
    </span>
  {% endif %}
  {% if current_user.is_authenticated %}
    <form method="POST">
      <textarea style="resize:none;" class="form-control" name="post-content" cols="10" rows="5" placeholder="Share what's new..."></textarea>
      <button class="btn btn-primary mt-2" type="submit">Post</button>
    </form>
  {% endif %}
  {% if posts %} 
    <div class="wall-posts mt-3 pb-5">
      {% for post in posts %}
        <div class="media">
          <img class="mr-3" src="..." alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0">
              <a href="/profile/{{post.author_id}}">{{get_author(post.author_id).screen_name}}</a>
            </h5>
            {{post.content}}
          </div>
        </div>
        <hr>
      {% endfor %}
    </div>
  {% else %}
    <div>User has no posts!</div>
  {% endif %}
{% endblock %}