{% extends 'base.html' %} 
{% block head %} 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <title>Friends - Profile</title>
{% endblock %} 
{% block content %} 
  <span>
    <img src="{{ url_for('views.upload_image', filename='default.jpg') }}" alt="{{user.screen_name}}'s dynamic profile picture">
    {% if is_wall_of_current_user %}
      <h3 align="center" class="mt-5 mb-5">{{user.screen_name}}'s Profile <a href="/profile/settings">Settings</a></h3>
    {% else %}
      <h3 align="center" class="mt-5 mb-5">{{user.screen_name}}'s Profile</h3>
    {% endif %}
  </span>
  {% if current_user.is_authenticated %}
    <form method="POST">
      {% if is_wall_of_current_user %}
        <textarea style="resize:none;" class="form-control" name="post-content" cols="10" rows="5" placeholder="Share what's new..."></textarea>
      {% else %} 
        <textarea style="resize:none;" class="form-control" name="post-content" cols="10" rows="5" placeholder="Write to {{user.screen_name}}'s wall..."></textarea>
      {% endif %}
      <button class="btn btn-primary mt-2" type="submit">Post</button>
    </form>
  {% endif %}
  {% if posts %} 
    <div class="wall-posts mt-3 pb-5">
      {% for post in posts %}
        <div class="media">
          <img class="mr-3" src="..." alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0">
              <a href="/profile/{{post.author_id}}">{{get_author(post.author_id).screen_name}}</a>
            </h5>
            {{post.content}}
          </div>
        </div>
        <hr>
      {% endfor %}
    </div>
  {% else %}
    <div>User has no posts!</div>
  {% endif %}
{% endblock %}