{% extends 'base.html' %} 
{% block head %} 
  <title>Friends - Profile</title>
{% endblock %} 
{% block content %} 
  <h3 class="mt-5" align="center">{{current_user.screen_name}}'s Profile</h3>
  <form method="POST">
    <textarea style="resize:none;" class="form-control" name="new-post" cols="10" rows="5" placeholder="Share what's new..."></textarea>
    <br>
    <button class="btn btn-primary" type="submit">Post</button>
  </form>
  {% if posts %} 
    {% for post in posts %} 
      {{post}}
      <br>
    {% endfor %}
  {% endif %}
{% endblock %}