{% extends 'base.html' %} 
{% block head %} 
  <title>MySpace - Create An Account</title>
{% endblock %} 
{% block content %} 
  <div class="main-div">
    <form class="user-form" action="/register" method="POST">
      <div><div>Screen Name:</div><input type="text" name="screen-name"></div>
      <div><div>Email:</div><input type="email" name="email"></div>
      <div><div>Password:</div><input type="password" name="password1"></div>
      <div><div>Password (again):</div><input type="password" name="password2"></div>
      <input type="submit">
    </form>
  </div>
{% endblock %}